 <!-- Content Wrapper. Contains page content -->
  <div class="wrapper" style="box-shadow:none">
    <!-- Content Header (Page header) -->
    <div ng-include=" 'partials/header.html' "></div>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div ng-include=" 'partials/leftmenu.html' "></div>
        <!-- /.col -->
        <div class="col-md-10">
          <div class="box box-primary" style="margin-bottom:0; min-height:550px">
            <div class="box-header with-border">
              <h3 class="box-title">New Mail</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="form-group">
                <!--<input class="form-control" placeholder="To:" ng-model="data.user">-->
                <tags-input ng-model="tags"></tags-input>
              </div>
              <div class="form-group">
                <input class="form-control" placeholder="Subject" ng-model="data.subject">
              </div>
              <div class="form-group">
                <text-angular ng-model="data.content">
                 
                </text-angular>
              </div>
              <iframe width="0" height="0" border="0" name="dummyframe" id="dummyframe" hidden></iframe>
                <form action="upload.php" target="dummyframe" method="post" enctype="multipart/form-data">
                  <input type="file" name="fileToUpload[]" ngf-select="onFileSelect($files)" onchange="this.form.submit()" id="fileToUpload" multiple>
                  <input type="text" id="auth" name="auth" value="{{auth[0].username}}" hidden> 
                  <input type="text" id="time" name="time" value="{{time}}" hidden>
                </form>
              
              </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer" style="">
              <div class="pull-right">
                <button type="reset" class="btn btn-default" ng-click="go_backcompose()" style="margin-right:10px"><i class="fa fa-times"></i> Discard</button>
                <!--<button type="button" class="btn btn-default"><i class="fa fa-pencil"></i> Draft</button>-->
                <button type="submit" class="btn btn-primary" ng-click="_send_mail(data)" style="background: #821018; border: none"><i class="fa fa-envelope-o"></i> Send</button>
              </div>
              
            </div>
            <!-- /.box-footer -->
          </div>
          <!-- /. box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</div>
<!-- ./wrapper -->
<div ng-include=" 'partials/footer.html' "></div>