<!-- Content Header (Page header) -->
    <section class="content-header" style="padding-top:10px">
      <!--<h1>
        Topica Email Marketing
        <small style="color:red">13 new messages</small>
      </h1>-->
      <img class="img-fluid" src="images/logo.png" width="130px" style="margin-left: 30px"/>
       <ol class="breadcrumb" style="font-size:16px; font-weight:500">
        <li><a href="" ng-click="go_signature()"><i class="fa fa-user-o"></i> {{auth[0].username}}</a></li>
        <!--<li><a href="" ng-click="go_signature()"><i class="fa fa-user-o"></i> <b>signature </b> </a></li>-->
        <li class="active" style="color:red"> <a href="#" ng-click="logout()"> log out! </a></li>
      </ol>
    </section>