<div class="col-md-2" ng-controller="HomeCtrl">
    <a ng-click="go_compose()" class="btn btn-primary btn-block margin-bottom" ng-show="!Compose">Compose</a>
    <a ng-click="go_backcompose()" class="btn btn-primary btn-block margin-bottom" ng-show="Compose">Back To Inbox</a>
    <div class="box box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Folders</h3>

            <div class="box-tools">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body no-padding">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="" ng-click="go_inbox()"><i class="fa fa-inbox" ></i> Inbox
                  <span class="label label-primary pull-right">{{}}</span></a></li>
                <li><a href="" ng-click="go_send()"><i class="fa fa-envelope-o"></i> Sent</a></li>
                <li><a href="" ng-click="go_groups()"><i class="fa fa-users"></i> Groups</a></li>
                <!--<li><a href=""><i class="fa fa-filter"></i> Junk <span class="label label-warning pull-right">65</span></a>-->
                </li>
                <!--<li><a href="" ng-click="trash()"><i class="fa fa-trash-o"></i> Trash</a></li>-->
            </ul>
        </div>
        <!-- /.box-body -->
    </div>
</div>
