<!-- Content Wrapper. Contains page content -->
<div class="wrapper" style="box-shadow:none">
  <!-- Content Header (Page header) -->
  <div ng-include=" 'partials/header.html' "></div>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div ng-include=" 'partials/leftmenu.html' "></div>

      <!-- /.col -->
      <div class="col-md-10">
        <div class="box box-primary" style="min-height:550px">
          <div class="box-header with-border">
            <a style="cursor:pointer" ng-click="back()">
              <h3 class="box-title"> <i class="fa fa-chevron-left" style="font-size:13px"></i> Back</h3>
            </a>
          </div>
          <!-- /.box-header -->
          <div class="box-body no-padding">
            <div class="mailbox-read-info">
              <h3 style="color: #821018"><b>{{dataResult.mail_Title}}</b></h3>
              <h5><a>{{dataResult.mail_Auth}}</a>
                <span class="mailbox-read-time pull-right" style="font-size:14px">{{dataResult.create_Time}}</span></h5>
              <h5 style="margin-top:5px">
                To:
                <span ng-repeat="group in dataResult.mail_To">
                  <a style="background: -webkit-linear-gradient(top,#f0f9ff 0,#cbebff 47%,#a1dbff 100%); padding:3px; border-radius:4px; color:black">{{group.text}}</a>
                </span>
              </h5>
            </div>
            <!-- /.mailbox-read-info -->
            <!-- /.mailbox-controls -->
            <div class="mailbox-read-message" ng-bind-html="dataResult.mail_Content">
            </div>
            <!-- /.mailbox-read-message -->
          </div>
          <!-- /.box-body -->
          <div class="box-footer" ng-show="dataResult.File.length > 0">
            <ul class="mailbox-attachments clearfix" ng-repeat="content in dataResult.File" style="display: inline-flex;">
              <li>
                <span class="mailbox-attachment-icon"><i class="fa fa-file-o"></i></span>

                <div class="mailbox-attachment-info crop">
                  <a href="" class="mailbox-attachment-name"><i class="fa fa-paperclip"></i> {{content.File_Name}}</a>
                </div>
              </li>
            </ul>
          </div>
          <!-- /.box-footer -->
          <!-- /.box-footer -->
        </div>
        <!-- /. box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>
</div>
</aside>
</div>
<!-- ./wrapper -->
<div ng-include=" 'partials/footer.html' "></div>